<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.ch.mitto.missito">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="ch.mitto.missito.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push_notification" />
        <provider
            android:name="ch.mitto.missito.util.MissitoFileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="ch.mitto.missito.ui.signin.SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ch.mitto.missito.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar.Launcher"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.mitto.missito.ui.tabs.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ch.mitto.missito.ui.tabs.chat.ImageOrVideoSelectedActivity" />
        <activity
            android:name="ch.mitto.missito.ui.tabs.settings.PrivacySettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ch.mitto.missito.ui.tabs.settings.BuildConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ch.mitto.missito.ui.tabs.chat.ContactInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <receiver
            android:name="ch.mitto.missito.net.ConnectionChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="ch.mitto.missito.fcm.FirebaseMissitoMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="ch.mitto.missito.fcm.FirebaseInstanceIdMissitoService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.onegravity.contactpicker.core.ContactPickerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <activity android:name="ch.mitto.missito.ui.tabs.forward.ForwardActivity" />

        <receiver
            android:name="ch.mitto.missito.ui.signin.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="ch.mitto.missito.ui.tabs.chat.view.CameraActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="ch.mitto.missito.ui.common.inputName.InputNameActivity" />
    </application>

</manifest>